# Dependencies
/.vendor-new/

# Created by devspace init
/.devspace/
/chart/
/Dockerfile
/.dockerignore

# Build files
*.exe
*.exe~

# History Plugin for VS Code
.history/

/devspace
/debug
.DS_STORE
.idea

.vscode/ipch
