@import '../../../../styles/constants.scss';

.change-namespace {
  width: 420px;
  margin-right: 10px;
  margin-bottom: 17px;

  > div {
    background-color: $gray-4;

    :global(.top) {
      height: unset;
      flex-direction: column;
      padding: 10px 20px;

      > div {
        margin-bottom: 5px;

        &:first-of-type {
          margin-bottom: 10px;
        }

        label {
          width: 100%;
          font: $list-label;
          font-size: 13px;
          color: $gray-1;

          .dropdown {
            margin-top: 5px;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
