@import '../../../../styles/constants';

.portlet-tabs {
  .portlet-title {
    color: $gray-5;
  }
  .portlet-selector {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;
  }
}
