@import '../../../../styles/constants';

.header-container {
  width: 100%;
  position: relative;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-1;
  z-index: 2;
  padding-left: 40px;
  padding-right: 25px;
  z-index: 12;
}

@media screen and (max-width: 570px) {
  .header-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
