@import '../../../../styles/constants.scss';

.pod {
  cursor: pointer;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 20px;

  &.selected {
    background-color: $blue-dark;
    color: white;
  }

  .pod-name {
    white-space: nowrap;
    overflow: hidden;
  }
}
