.post {
    color: rgb(48, 48, 48);
}

h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

.active-section {
    position: relative;
}

.active-section::before {
    content: " ";
    width: 3px;
    position: absolute;
    left: -17px;
    top: -21px;
    bottom: -21px;
    background: #1c65f7;
}

details .active-section::before {
    display: none;
}

blockquote.active-section::before {
    left: -25px;
}


@media only screen and (max-width: 1400px) {
    .post img {
        float: none !important;
        width: 100% !important;
        margin: auto !important;
    }
}
