/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    overflow-x: hidden;
}

.footer-logo {
    display: block;
    text-align: center;
}

.onPageNav ul ul li {
    margin-top: 0em;
}

.toc .toggleNav ul li a {
    padding: 1px 0;
}

.toc .toggleNav ul li.navListItemActive a {
    font-weight: 600;
    color: #ff8800;
    border-left: 4px solid #ff8800;
    margin-left: -8px;
    padding-left: 4px;
}

.docs-prevnext .button {
    font-weight: 600;
    color: #ff8800;
    border: 2px solid #ff8800;
}

.docs-prevnext .button:hover {
    background-color: #ff8800;
    border-color: transparent;
    color: #fff;
}

h1,
h2,
h3,
h4,
.postHeader {
    margin-bottom: 6px !important;
}

h2 {
    margin-top: 26px;
}

h3 {
    font-size: 18px;
}

.post a:not(.hash-link) {
    padding: 0 0.2em;
    font-weight: 600;
    color: #3F51B5;
    background: #4ac9f521;
}

.post a:not(.hash-link):hover {
    color: #fff;
    background: #4ac9f5;
}

.post ul {
    margin-top: -0.5em;
}

.post ul ul {
    margin-top: 0.3em;
}

.post .hljs,
.post code {
    color: #fff;
    background: #233366;
}

.post .hljs {
    margin: 0 -25px;
}

.post .hljs-string,
.post .hljs-literal,
.post .hljs-number {
    color: rgb(197, 217, 255);
}

.post .hljs-built_in {
    color: #fff;
}

.post .hljs-comment {
    color: #a9e4f8;
}

.post .hljs-variable {
    color: #4ac9f5;
}
