.post figure {
    margin-top: 15px;
    margin-bottom: 39px;
}

.post figure.stretch img {
    width: 100%;
}

.post figure:not(.white-bg) img {
    box-shadow: 0 0 10px 5px #00000026;
    border: 1px solid #c6cbd1;
}

.post figcaption {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    margin-top: 5px;
    outline: 0;
    text-align: center;
    z-index: 300;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0;
}
