body {
    overflow-x: hidden;
}

.navPusher {
    padding-top: 100px;
}

.navPusher .docMainWrapper {
    display: flex;
    width: 100%;
    padding: 0;
}

.separateOnPageNav .headerWrapper.wrapper {
  max-width: 1600px;
}

.separateOnPageNav .navPusher .docsNavContainer,
.separateOnPageNav .navPusher .onPageNav {
    flex: 0 1 100%;
    overflow: initial;
}

.separateOnPageNav .navPusher .mainContainer {
    flex: 1 0 770px;
    max-width: 770px;
}

.separateOnPageNav .navPusher .docsNavContainer,
.separateOnPageNav .navPusher .mainContainer,
.separateOnPageNav .navPusher .onPageNav {
    top: 0;
    margin: 0;
    padding: 0;
}

.separateOnPageNav .navPusher .docsNavContainer .toc,
.separateOnPageNav .navPusher .mainContainer,
.separateOnPageNav .navPusher .onPageNav {
    padding: 30px;
}

.separateOnPageNav .navPusher .onPageNav {
    padding-left: 0;
}

.separateOnPageNav .navPusher .docsNavContainer .toc .navGroups {
    margin-top: -5px;
}

.separateOnPageNav .navPusher .docsNavContainer .toc {
    width: 280px;
    height: 100vh;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 130px;
    overflow: hidden;
}

.separateOnPageNav .navPusher .docsNavContainer .toc:hover {
    overflow: overlay;
}

.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-resizer,
.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-scrollbar-corner,
.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-scrollbar-button {
    display: none;
}

.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.16);
}

.separateOnPageNav .navPusher .docsNavContainer .toc::-webkit-scrollbar-thumb {
    transition: background 250ms ease;
    background: rgba(0,0,0,.16);
    border-radius: 2px;
    -moz-transition: background 250ms ease;
    -webkit-transition: background 250ms ease;
}

@media only screen and (max-width: 1023px) {
    .navPusher .docMainWrapper {
        flex-direction: column;
    }

    .separateOnPageNav .navPusher .docsNavContainer {
        height: 50px;
        position: absolute;
        top: 100px;
    }
    
    .separateOnPageNav .navPusher .docsNavContainer.docsSliderActive {
        min-height: 100%;
    }
    
    .separateOnPageNav .navPusher .docsNavContainer .toc {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .separateOnPageNav .navPusher .docsNavContainer .toc .navBreadcrumb {
        border-bottom: 1px solid #ccc;
    }

    .separateOnPageNav .navPusher .docsNavContainer .toc .navGroups {
        padding-top: 10px;
    }

    .separateOnPageNav .navPusher .mainContainer {
        max-width: 100%;
        padding-top: 60px;
    }

    .separateOnPageNav .navPusher .onPageNav {
        position: absolute;
        top: 100px;
        padding: 50px 20px;
    }
}
