@media(max-width: "1024px") {
    .toc {
        padding: 30px 0 10px;
    }
}

/* large title for DevSpace Cloud */
.navGroups .navGroup:nth-child(10)::before {
    display: block;
    margin: 1.4em 0 0.5em;
    padding: 0.5em 0 0.4em;
    border-bottom: 1px solid #ddd;
    font-size: 21px;
    font-family: "Raleway", sans-serif;
    content: "DevSpace Cloud";
}

.navGroups .navGroup:nth-child(10)::before {
    content: "DevSpace Cloud";
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(1)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(5)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(9)::before {
    display: block;
    margin: 0.8em 0 0 25px;
    font-size: 14px;
    font-weight: 500;
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(1)::before {
    content: "Basics";
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(5)::before {
    content: "Configure components";
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(9)::before {
    content: "Configure containers";
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(n+5) .navItem,
.navGroups .navGroup:nth-child(5) .navListItem .navItem {
    margin-left: 13px;
}

.separateOnPageNav .navPusher .docsNavContainer {
    flex: 0 0 250px;
}

.toc .toggleNav .navGroup {
    position: relative;
    margin-bottom: 14px;
}

.toc .toggleNav ul {
    margin-bottom: 16px;
}

/* nav group titles */
.toc .toggleNav .navGroup .navGroupCategoryTitle {
    padding-top: 6px;
    padding-left: 18px;
    font-size: 16px;
}

/* nav arrows */
.collapsible .arrow {
    position: absolute;
    left: 0;
    margin-right: 2px;
    margin-left: -5px;
}

/* nav link currently active */
.toc .toggleNav ul li.navListItemActive a {
    color: #00bdff!important;
}

/* nav link */
.toc .toggleNav ul li a {
    padding: 1px 0 1px 25px;
}

/* nav link hover */
.toc .toggleNav ul li a:hover {
    text-decoration: none;
    color: #1c65f7;
}

@media(max-width: 1023px) {
    .docsNavContainer {
        position: absolute;
    }
}
