.separateOnPageNav .navPusher .docsNavContainer {
    background-color: #f5f7f9;
    border-right: 1px solid #e7edf1;
}

/* large title for DevSpace Cloud */
.navGroups .navGroup:nth-child(11)::before {
    display: block;
    margin: 1.4em 0 0.5em;
    padding: 0.5em 0 0.4em;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    content: "DevSpace Cloud";
}

.navGroups .navGroup:nth-child(11)::before {
    content: "DevSpace Cloud";
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::after,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(1)::after,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(5)::after,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(9)::after {
    content: " ";
    display: block;
    width: 13px;
    height: 2px;
    position: absolute;
    top: 10px;
    background: #e7edf1;
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::after {
    top: 13px;
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(1)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(5)::before,
.navGroups .navGroup:nth-child(5) .navListItem:nth-child(9)::before {
    display: block;
    margin: 0.8em 0 0 23px;
    font-size: 14px;
    font-weight: 600;
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(1)::before {
    content: "Basics";
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(5)::before {
    content: "Configure components";
}

.navGroups .navGroup:nth-child(5) .navListItem:nth-child(9)::before {
    content: "Configure containers";
}

.navGroups .navGroup:nth-child(2) .navListItem:nth-child(n+5) .navItem,
.navGroups .navGroup:nth-child(5) .navListItem .navItem {
    padding-left: 36px;
}

.toc .toggleNav .navGroup {
    position: relative;
    margin-bottom: 14px;
}

.toc .toggleNav ul {
    margin-bottom: 16px;
    padding: 0;
    padding-left: 5px;
}

.navGroups .navGroup .navListItem {
    position: relative;
    border-left: 1px solid #e7edf1;
}

.navGroups .navGroup .navItem {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 23px;
}

.toc .toggleNav ul .navListItemActive .navItem {
    color: #223366!important;
    background: #fff;
    border-top: 1px solid #e7edf1;
    border-bottom: 1px solid #e7edf1;
}

/* nav group titles */
.toc .toggleNav .navGroup .navGroupCategoryTitle {
    padding-top: 0;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 600;
}

/* nav arrows */
.collapsible .arrow {
    position: absolute;
    left: 0;
    margin-right: 2px;
    margin-left: -5px;
    margin-top: -4px;
    opacity: 0.6;
}

.collapsible .arrow svg {
    width: 20px;
    height: 20px;
}

/* nav link currently active */
.toc .toggleNav ul li.navListItemActive a {
    color: #00bdff!important;
}

/* nav link */
.toc .toggleNav ul li a {
    padding: 1px 0 1px 25px;
}

/* nav link hover */
.toc .toggleNav ul li a:hover {
    text-decoration: none;
    color: #1c65f7;
}

/* OnPage Nav */ 
.separateOnPageNav .navPusher .onPageNav > .toc-headings {
    padding-top: 55px;
}

.separateOnPageNav .navPusher .onPageNav > .toc-headings::before {
    content: "Contents";
    font-family: "Raleway", sans-serif;
    position: absolute;
    margin-top: -60px;
    margin-left: -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.separateOnPageNav .navPusher .onPageNav ul {
    margin: 0;
}

.separateOnPageNav .navPusher .onPageNav a.active {
    color: #1c65f7;
    position: relative;
}

.separateOnPageNav .navPusher .onPageNav a.active::before {
    width: 3px;
    height: 100%;
    position: absolute;
    left: -15px;
    top: -5px;
    padding: 5px 0;
    background: #1c65f7;
    content: " ";
}

.separateOnPageNav .navPusher .onPageNav .toc-headings .toc-headings a.active::before {
    left: -35px;
}
