.separateOnPageNav .navPusher .docsNavContainer {
  background-color: #f5f7f9;
  border-right: 1px solid #e7edf1;
}

.toc .toggleNav .navGroup:last-of-type {
  margin-bottom: 18px;
}

.toc .toggleNav .navGroup > ul {
  margin: 0;
  padding: 0;
}

.toc .toggleNav .navGroup:not(.subNavGroup) > ul {
  margin-bottom: 16px;
  padding-left: 5px;
}

.navGroups .navGroup {
  position: relative;
}

.navGroups .navGroup .navItem {
  position: relative;
  padding: 3px;
  padding-left: 23px;
}

/* active nav link */
.toc .toggleNav ul .navListItemActive .navItem {
  color: #1c65f7 !important;
  background: #fff;
  border-top: 1px solid #e7edf1;
  border-bottom: 1px solid #e7edf1;
}

/* nav group titles */
.toc .toggleNav .navGroup .navGroupCategoryTitle {
  padding-top: 0;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 600;
}

/* nav arrows */
.collapsible .arrow {
  position: absolute;
  left: 0;
  margin-right: 2px;
  margin-left: -5px;
  margin-top: -4px;
  opacity: 0.6;
}

/* set siye of nav arrows */
.collapsible .arrow svg {
  width: 20px;
  height: 20px;
}

/* nav link */
.toc .toggleNav ul li a {
  padding: 1px 0 1px 25px;
}

/* nav link hover */
.toc .toggleNav ul li a:hover {
  text-decoration: none;
  color: #1c65f7;
}

/* left border for all links and navsubgroup titles */
.navGroups .navGroup .navListItem,
.navGroups .navGroup .navGroupSubcategoryTitle {
  position: relative;
  border-left: 1px solid #e7edf1;
  color: #717171;
  font-weight: 400;
}

/* add horizontal line for first-level links and subnavgroup titles */
.navGroups .navGroup .navListItem::after,
.navGroups .navGroup .subNavGroup::after {
  content: " ";
  display: block;
  width: 13px;
  height: 2px;
  position: absolute;
  top: 14px;
  background: #e7edf1;
}

/* hide second-level subnavgroup titles (because we are making the first link to title) */
.navGroups .navGroup .subNavGroup .navGroupSubcategoryTitle {
  display: none;
}

/* make first link of second-level subnavgroup to subnavgroup title */
.navGroups .navGroup .subNavGroup .navGroupSubcategoryTitle {
  display: none;
}

/* indent and style second-level links (except first one which is used as title) */
.navGroups .navGroup .subNavGroup .navListItem:nth-child(n+2) .navItem {
  padding-left: 38px;
  font-weight: 200;
}

/* remove horizontal line for second-level links in subgroups */
.navGroups .navGroup .subNavGroup .navListItem:nth-child(n+2)::after {
  display: none;
}


/* onpage nav */
.separateOnPageNav .navPusher .onPageNav > .toc-headings {
  padding-top: 55px;
}

/* onpage nav title */
.separateOnPageNav .navPusher .onPageNav > .toc-headings::before {
  content: "Contents";
  font-family: "Raleway", sans-serif;
  position: absolute;
  margin-top: -60px;
  margin-left: -15px;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.separateOnPageNav .navPusher .onPageNav ul {
  margin: 0;
}

.separateOnPageNav .navPusher .onPageNav > ul > li > a {
  font-weight: 600;
}

.separateOnPageNav .navPusher .onPageNav a.active {
  color: #1c65f7;
  position: relative;
}

.separateOnPageNav .navPusher .onPageNav a.active::before {
  width: 3px;
  height: 100%;
  position: absolute;
  left: -15px;
  top: -5px;
  padding: 5px 0;
  background: #1c65f7;
  content: " ";
}

.separateOnPageNav
  .navPusher
  .onPageNav
  .toc-headings
  .toc-headings
  a.active::before {
  left: -35px;
}
