.star-button {
  position: absolute;
  margin-top: 6px;
  margin-left: 185px;
  z-index: 999 !important;
}

@media only screen and (max-width: 415px) {
  .star-button {
    width: 63px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 365px) {
  .star-button {
    display: none;
  }
}
