.versionsContainer {
  padding: 0 5%;
}

.fixedHeaderContainer .headerWrapper header a[href="/versions"] {
  position: absolute;
  left: 47px;
  top: 20px;
}

.fixedHeaderContainer .headerWrapper header h3 {
  font-size: 0.8em;
}

.fixedHeaderContainer .headerWrapper header h3::after {
  content: "🢐 🢒";
  font-size: 1.1em;
  margin-left: 2px;
  display: inline-block;
  transform: rotateZ(90deg);
}
