.versionsContainer {
  padding: 0 5%;
}

.fixedHeaderContainer .headerWrapper header a[href="/docs/versions"],
.fixedHeaderContainer .headerWrapper header a[href="/versions"] {
  position: absolute;
  left: 47px;
  top: 20px;
}

@media only screen and (max-width: 800px) {
  .fixedHeaderContainer .headerWrapper header a[href="/docs/versions"],
  .fixedHeaderContainer .headerWrapper header a[href="/versions"] {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.fixedHeaderContainer .headerWrapper header h3 {
  position: relative;
  font-size: 0.8em;
}

.fixedHeaderContainer .headerWrapper header h3::before,
.fixedHeaderContainer .headerWrapper header h3::after {
  content: " ";
  display: inline-block;
  width: 0; 
  height: 0; 
  margin-left: 3px;
}

.fixedHeaderContainer .headerWrapper header h3::before {
  position: absolute;
  right: 0;
  top: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #00bdff;
}

.fixedHeaderContainer .headerWrapper header h3::after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #00bdff;
}
