/* large title for DevSpace Cloud */
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(10)::before {
  display: block;
  margin: 1.4em 0 0.5em;
  padding: 0.5em 0 0.4em;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  content: "DevSpace Cloud";
}
  
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(10)::before {
  content: "DevSpace Cloud";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(3)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(5)::after,
body[data-sidebar-version="v3.5.18"] .navGroups
  .navGroup:nth-child(2)
  .navListItem:nth-child(n + 7):nth-child(-n + 12)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(n + 7)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem::after {
  display: none;
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(7)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(9)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(1)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(5)::after,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(9)::after {
  display: block;
  top: 18px;
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(7),
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(9),
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(1),
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(5),
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(9) {
  margin-top: -3px;
  padding-top: 3px;
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(4)::before,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(7)::before,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(9)::before,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(1)::before,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(5)::before,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(9)::before {
  display: block;
  margin: 5px 0 0 23px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(7)::before {
  content: "Registry";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(9)::before {
  content: "Build Tools";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(1)::before {
  content: "Basics";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(5)::before {
  content: "Configure components";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem:nth-child(9)::before {
  content: "Configure containers";
}

body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(3) .navItem,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(4) .navItem,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(2) .navListItem:nth-child(5) .navItem,
body[data-sidebar-version="v3.5.18"] .navGroups
  .navGroup:nth-child(2)
  .navListItem:nth-child(n + 7):nth-child(-n + 12)
  .navItem,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(3) .navListItem:nth-child(n + 7) .navItem,
body[data-sidebar-version="v3.5.18"] .navGroups .navGroup:nth-child(4) .navListItem .navItem {
  padding-left: 36px;
}
