@use '../../../../styles/constants.scss';

.delete-text-button {
  background-color: constants.$red-2;

  &:hover {
    filter: brightness(110%);
    background-color: constants.$red-2 !important;
  }
}
