@import '../../../../styles/constants';

.portlet-detailed {
  > :global(.top) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > :global(.right) {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-top: 20px;

      :global(.tooltipcontainer) {
        margin-left: 5px;
      }
    }
  }

  > :global(.bottom) {
    background-color: $blue-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-2;

    > :global(.left) {
      padding: 12px 10px;
    }

    > :global(.right) {
      padding-right: 20px;
    }
  }

  > :global(.content) {
    padding: 10px;
  }
}
