.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/devspace-docs/*
website/yarn.lock
website/node_modules
website/i18n/*

!website/build/devspace-docs/_redirects
