$black: #1d2531;
$dark-blue: #233366;
// $blue: #326de6;
$sky-blue: #00bdff;
$sky-darker: #22bad9;
$violet: #7368ac;
$light-blue: #d5e3f2;
$lighter-blue: #ebf3fc;
$verylight-blue: #f5f9fd;
$primary-orange: #f29b35;
$light-orange: #ffe6c8;
$darkgreen: #386166;
$primary-green: #34a853;
$black-board: #3d3e3e;
$board-title: #8fa6b2;
$grey: #7b85a3;
$board-text: #d3dae1;
$red: #e07171;
$darkred: #a00000;
$darkblack-code: #282c34;
$lightblack-code: #4c5058;
$code-color: #abb2bf;
$box-shadow: rgba(35, 51, 102, 0.2);
$popup-bg: rgba(34, 51, 102, 0.8);

// New Design
$blue-dark: #263544;
$blue-dark-2: #1d2531;
$blue-light-1: #f5f8fe;
$blue-light-2: #e9f4ff;
$blue-highlight: #00bdff;
$blue-kubernetes: #326de6;
$blue: #06184d;
$red-2: #aa1212;
$gray-1: #f4f7fb;
$gray-2: #d5e3f2;
$gray-3: #b5c0cb;
$gray-4: #687f96;
$gray-5: #476078;
$green: #40ce0f;
$green-2: #39af0f;
$orange-1: #ff8800;

// Shadows
$shadow-1: 0px 0px 4px rgba(38, 53, 68, 0.2);
$shadow-portlet: 0px 0px 5px rgba(38, 53, 68, 0.2);
$shadow-button: 0px 0px 5px rgba(35, 51, 102, 0.2);

// Fonts
$breadcrumb: normal 14px 'Open Sans';
$breadcrumb-title: normal 20px 'Kanit';
$nav: normal 16px 'Kanit';
$sub-nav: normal 14px 'Open Sans';
$portlet-title: 600 16px 'Open Sans';
$button-text: normal 14px 'Kanit';
$code: bold 14px 'Roboto Mono';
$text: normal 14px 'Open Sans';
$list-label: 600 14px 'Open Sans';
$list-value: 600 16px 'Open Sans';
$text-bold: 600 14px 'Open Sans';
$link: 600 14px 'Open Sans';
$empty-headline: 600 24px 'Open Sans';
$smallprint: normal 12px 'Open Sans';
$smallprint-bold: bold 12px 'Open Sans';
$button-text-large: normal 18px 'Kanit';

$max-width: 1440px;
$side-padding: 5%;
