name: E2E tests

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main
      - v6
    paths:
      - "Dockerfile"
      - "**.go"
      - "!**_test.go" # exclude test files to ignore unit test changes
      - "e2e/**_test.go" # include test files in e2e again
      - ".github/workflows/e2e-tests.yaml"

env:
  GO111MODULE: on
  GOFLAGS: -mod=vendor

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes_version:
          - v1.27.3
          - v1.28.0
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: kubectl install
      uses: azure/setup-kubectl@v3
      with:
        version: ${{ matrix.kubernetes_version }}

    # Creates KinD with using k8s versions from the matrix above
    - name: Set up kind with K8s version v1.22.4
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: "v0.20.0"
        image: kindest/node:${{ matrix.kubernetes_version }}

    - name: Testing kind cluster set-up
      run: |
          kubectl cluster-info
          kubectl get pods -n kube-system
          echo "current-context:" $(kubectl config current-context)
          echo "environment-kubeconfig:" ${KUBECONFIG}

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.20"

    - name: Build devspacehelper
      run: |
        mkdir -p ~/.devspace/devspacehelper/latest
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags "-extldflags=-static" -o ~/.devspace/devspacehelper/latest/devspacehelper helper/main.go
        chmod +x ~/.devspace/devspacehelper/latest/devspacehelper
      env:
        GOPATH: /Users/runner/work/devspace/go

    - name: e2e test
      working-directory: ./e2e
      run: |
        go test -v -ginkgo.v -ginkgo.fail-fast -timeout 3600s
