name: Unit test

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main
      - v6
    paths:
      - "**.go"
      - "!e2e/**" # exclude files from e2e tests
      - ".github/workflows/unit-tests.yaml"

env:
  GO111MODULE: on
  GOFLAGS: -mod=vendor

jobs:
  test-unit:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    
    name: unit-test-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Test
        run: ./hack/coverage.bash

  test-unit-windows:
    runs-on: windows-latest
    name: unit-test-windows-latest
    
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Test
        run: ./hack/coverage.bash
        shell: bash
